.swiper {
  padding: 32px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.swiper-button-prev {
  color: var(--color-primary);
}

.swipper-button-next {
  color: var(--color-primary);
}

.carousel-card {
  width: 100%;
  /* max-width: 320px; /* controla o tamanho real */
  /* min-height: 26rem; */
  background: var(--color-primary);
  border-radius: 8px;
  padding: 18px 16px;
  box-shadow: 0 3px 8px var(--shadow);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.carousel-card-image {
  width: 100%;
  max-width: 260px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.carousel-card-image img {
  width: 100%;
  object-fit: contain;
}