:root {
  --color-background: #EAEDF2;
  --color-primary: #A6CBDE;
  --color-secondary: #210123;
  --shadow: #00000026;
}

body {
  background-color: var(--color-background);
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}