.title-card {
  display: flex;
  gap: 20px;
  background: var(--color-primary);
  padding: 25px;
  border-radius: 16px;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 3px 8px var(--shadow);
  max-width: 1000px;
  max-height: 2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.title-card-icon {
  width: 60px;
  height: 60px;
  color: black;
}